In [1]:
import pandas as pd 
import os
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
sightings=pd.read_csv(os.path.join("cleaneddata", "sightings20_19.csv"))
homicide= pd.read_csv(os.path.join("cleaneddata", "Homicide.csv"))
missingpersons= pd.read_csv(os.path.join("cleaneddata", "Missing Persons JAS.csv"))
substance_use=pd.read_csv(os.path.join("cleaneddata", "NSDUH_Substance_Use_Data.csv"))
campgrounds=pd.read_csv(os.path.join("cleaneddata", "campgrounds.csv"))

In [3]:
sightings.head()

,title,classification,year,latitude,longitude,State,country
0,Report 65679: Afternoon sighting of a bigfoot ...,Class A,2020,31.24305,-88.31126,AL,United States
1,Report 67423: Sighting of a Sasquatch crossing...,Class A,2020,33.64341,-85.41961,AL,United States
2,Report 63033: 1AM sighting of a Bigfoot on Hwy...,Class A,2019,41.89288,-123.78790,CA,United States
3,Report 63153: Daylight sighting by hikers at M...,Class A,2019,39.41087,-106.14440,CO,United States
4,Report 63731: Recent sighting on Connecticut W...,Class A,2019,41.38622,-72.60558,CT,United States

In [4]:
sightingscount=sightings.groupby('State').count()
sightingscount

       title  classification  year  latitude  longitude  country
State
AL         2               2     2         2          2        2
AR         3               3     3         3          3        3
CA         5               5     5         5          5        5
CO         3               3     3         3          3        3
CT         2               2     2         2          2        2
FL         2               2     2         2          2        2
GA         1               1     1         1          1        1
ID         6               6     6         6          6        6
IL         1               1     1         1          1        1
IN         2               2     2         2          2        2
KY         1               1     1         1          1        1
MA         1               1     1         1          1        1
ME         3               3     3         3          3        3
MI         1               1     1         1          1        1
MN         2               2     2         2          2        2
MO         5               5     5         5          5        5
MT         2               2     2         2          2        2
NC         4               4     4         4          4        4
NJ         1               1     1         1          1        1
NM         1               1     1         1          1        1
NY         3               3     3         3          3        3
OH        11              11    11        11         11       11
OK         2               2     2         2          2        2
OR         3               3     3         3          3        3
PA         1               1     1         1          1        1
SC         1               1     1         1          1        1
SD         1               1     1         1          1        1
TN         1               1     1         1          1        1
TX         6               6     6         6          6        6
VA         3               3     3         3          3        3
WA        13              13    13        13         13       13
WI         1               1     1         1          1        1
WV         1               1     1         1          1        1

In [5]:
sightingscount=sightingscount.reset_index()
hawaii={"State":'HI',
'title':0,}
DC={"State":'DC',
'title':0,}
AK={"State":'AK',
'title':0,}
AZ={"State":'AZ',
'title':0,}
DE={"State":'DE',
'title':0,}
IA={"State":'IA',
'title':0,}
KS={"State":'KS',
'title':0,}
LA={"State":'LA',
'title':0,}
MD={"State":'MD',
'title':0,}
MS={"State":'MS',
'title':0,}
ND={"State":'ND',
'title':0,}
NE={"State":'NE',
'title':0,}
NH={"State":'NH',
'title':0,}
NV={"State":'NV',
'title':0,}
RI={"State":'RI',
'title':0,}
UT={"State":'UT',
'title':0,}
VT={"State":'VT',
'title':0,}
WY={"State":'WY',
'title':0,}
sightingscount=sightingscount.drop(labels=['classification','year','latitude','longitude','country'],axis=1)
sightingscount.head()
sightingscount=sightingscount.append(DC,ignore_index=True)
sightingscount=sightingscount.append(hawaii,ignore_index=True)
sightingscount=sightingscount.append(AK,ignore_index=True)

sightingscount=sightingscount.append(AZ,ignore_index=True)

sightingscount=sightingscount.append(DE,ignore_index=True)

sightingscount=sightingscount.append(IA,ignore_index=True)

sightingscount=sightingscount.append(KS,ignore_index=True)

sightingscount=sightingscount.append(LA,ignore_index=True)

sightingscount=sightingscount.append(MD,ignore_index=True)

sightingscount=sightingscount.append(MS,ignore_index=True)

sightingscount=sightingscount.append(ND,ignore_index=True)

sightingscount=sightingscount.append(NE,ignore_index=True)

sightingscount=sightingscount.append(NH,ignore_index=True)

sightingscount=sightingscount.append(NV,ignore_index=True)

sightingscount=sightingscount.append(RI,ignore_index=True)

sightingscount=sightingscount.append(UT,ignore_index=True)

sightingscount=sightingscount.append(VT,ignore_index=True)

sightingscount=sightingscount.append(WY,ignore_index=True)

sightingscount=sightingscount.astype({'State':'string'})
sightingscount=sightingscount.astype({'title':'int64'})
sightingscount.dtypes

State    string
title     int64
dtype: object

In [6]:
homicide.dtypes

YEAR      float64
STATE      object
RATE      float64
DEATHS     object
URL        object
dtype: object

In [7]:
homicide=homicide.drop(labels=['URL','DEATHS','YEAR'],axis=1)
homicide=homicide.dropna()
homicide=homicide.rename(columns={'STATE':'State'})
homicide=homicide.rename(columns={'RATE':'homicide_rate'})
homicide=homicide.astype({'State':'string'})
homicide=homicide.groupby('State').mean().reset_index()

In [8]:
DCh={"State":'DC',
'homicide_rate':23.5,}

In [9]:
homicide=homicide.reset_index()
homicide=homicide.append(DCh,ignore_index=True)
homicide=homicide.drop(labels='index',axis=1)
homicide

   State  homicide_rate
0     AK       7.728571
1     AL      11.085714
2     AR       8.585714
3     AZ       6.342857
4     CA       5.171429
5     CO       4.100000
6     CT       3.071429
7     DE       6.785714
8     FL       6.400000
9     GA       7.514286
10    HI       2.457143
11    IA       2.600000
12    ID       2.357143
13    IL       7.742857
14    IN       6.714286
15    KS       4.971429
16    KY       6.057143
17    LA      13.371429
18    MA       2.314286
19    MD       9.571429
20    ME       1.028571
21    MI       6.514286
22    MN       2.442857
23    MO       9.685714
24    MS      12.185714
25    MT       3.828571
26    NC       6.714286
27    ND       1.242857
28    NE       2.985714
29    NH       0.657143
30    NJ       4.257143
31    NM       9.028571
32    NV       7.000000
33    NY       3.500000
34    OH       6.314286
35    OK       7.728571
36    OR       2.942857
37    PA       6.028571
38    RI       1.885714
39    SC       9.214286
40    SD       3.800000
41    TN       8.285714
42    TX       5.771429
43    UT       2.328571
44    VA       5.185714
45    VT       0.000000
46    WA       3.357143
47    WI       4.057143
48    WV       5.728571
49    WY       1.842857
50    DC      23.500000

In [10]:
missingpersons.head()

,State,Total Number of Missing Persons,"Missing People per 100,000 Residents"
0,Alabama,204,4.2
1,Alaska,309,41.8
2,Arizona,915,13.0
3,Arkansas,200,6.7
4,California,2133,5.4

In [11]:
missingpersons['State']=missingpersons['State'].map({
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC"
})
missingpersons

,State,Total Number of Missing Persons,"Missing People per 100,000 Residents"
0,AL,204,4.2
1,AK,309,41.8
2,AZ,915,13.0
3,AR,200,6.7
4,CA,2133,5.4
5,CO,292,5.2
6,CT,197,5.5
7,DE,58,6.0
8,DC,35,5.0
9,FL,1252,6.0
10,GA,250,2.4
11,HI,107,7.5
12,ID,101,5.9
13,IL,317,2.5
14,IN,174,2.6
15,IA,86,2.7
16,KS,81,2.8
17,KY,248,5.6
18,LA,266,5.7
19,ME,108,8.1
20,MD,183,3.0
21,MA,126,1.8
22,MI,556,5.6
23,MN,179,3.2
24,MS,115,3.9
25,MO,316,5.2
26,MT,71,6.8
27,NE,61,3.2
28,NV,192,6.4
29,NH,35,2.6
30,NJ,299,3.3
31,NM,143,6.8
32,NY,606,3.1
33,NC,327,3.2
34,ND,31,4.1
35,OH,358,3.1
36,OK,252,6.4
37,OR,432,10.4
38,PA,401,3.1
39,RI,20,1.9
40,SC,184,3.7
41,SD,23,2.6
42,TN,361,5.4
43,TX,1246,4.4
44,UT,107,3.4
45,VT,54,8.7
46,VA,239,2.8
47,WA,643,8.7
48,WV,120,6.6
49,WI,149,2.6
50,WY,45,7.8

In [12]:
missingpersons.dtypes
missingpersons=missingpersons.astype({'State':'string'})
missingpersons.dtypes

State                                    string
Total Number of Missing Persons           int64
Missing People per 100,000 Residents    float64
dtype: object

In [13]:
substance_use.head(10)

,Unnamed: 0,State,Illicit Drug Use (18+),Alcohol Use (18+),Substance Use Disorder (18+)
0,0,Total U.S.,6.82%,10.96%,10.96%
1,1,Northeast,6.75%,11.59%,11.59%
2,2,Midwest,6.87%,11.48%,11.48%
3,3,South,6.46%,9.38%,9.38%
4,4,West,7.41%,12.57%,12.57%
5,5,Alabama,5.63%,9.31%,9.31%
6,6,Alaska,7.87%,11.30%,11.30%
7,7,Arizona,7.76%,11.85%,11.85%
8,8,Arkansas,7.75%,9.12%,9.12%
9,9,California,6.72%,12.79%,12.79%

In [14]:
substance_use=substance_use.drop(substance_use.index[[0,1,2,3,4]])

substance_use.dtypes

substance_use.dtypes
substance_use['State']=substance_use['State'].map({
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC"
})
substance_use=substance_use.drop(labels='Unnamed: 0',axis=1)
substance_use=substance_use.astype({'State':'string'})

In [15]:
substance_use['Illicit Drug Use (18+)']=substance_use['Illicit Drug Use (18+)'].str.rstrip('%')
substance_use['Alcohol Use (18+)']=substance_use['Alcohol Use (18+)'].str.rstrip('%')
substance_use['Substance Use Disorder (18+)']=substance_use['Substance Use Disorder (18+)'].str.rstrip('%')
substance_use=substance_use.astype({'Illicit Drug Use (18+)':'float'})
substance_use=substance_use.astype({'Alcohol Use (18+)':'float'})
substance_use=substance_use.astype({'Substance Use Disorder (18+)':'float'})
substance_use.dtypes

State                            string
Illicit Drug Use (18+)          float64
Alcohol Use (18+)               float64
Substance Use Disorder (18+)    float64
dtype: object

In [16]:
substance_use

,State,Illicit Drug Use (18+),Alcohol Use (18+),Substance Use Disorder (18+)
5,AL,5.63,9.31,9.31
6,AK,7.87,11.30,11.30
7,AZ,7.76,11.85,11.85
8,AR,7.75,9.12,9.12
9,CA,6.72,12.79,12.79
10,CO,9.01,13.32,13.32
11,CT,6.70,12.21,12.21
12,DE,5.79,10.82,10.82
13,DC,9.70,17.83,17.83
14,FL,7.48,9.55,9.55
15,GA,5.33,8.03,8.03
16,HI,5.85,10.31,10.31
17,ID,6.92,10.87,10.87
18,IL,7.65,11.51,11.51
19,IN,6.73,10.05,10.05
20,IA,6.67,10.55,10.55
21,KS,7.00,13.48,13.48
22,KY,6.04,8.72,8.72
23,LA,7.18,10.65,10.65
24,ME,7.40,11.71,11.71
25,MD,6.69,12.20,12.20
26,MA,7.89,13.02,13.02
27,MI,7.89,11.30,11.30
28,MN,5.99,13.29,13.29
29,MS,7.48,9.58,9.58
30,MO,6.79,11.00,11.00
31,MT,8.19,12.10,12.10
32,NE,7.17,11.89,11.89
33,NV,8.65,10.93,10.93
34,NH,7.39,11.95,11.95
35,NJ,6.33,11.85,11.85
36,NM,7.00,12.51,12.51
37,NY,6.37,11.49,11.49
38,NC,6.60,9.41,9.41
39,ND,6.59,11.73,11.73
40,OH,5.96,11.33,11.33
41,OK,7.89,10.72,10.72
42,OR,9.17,13.14,13.14
43,PA,6.67,10.36,10.36
44,RI,8.13,12.91,12.91
45,SC,5.94,9.27,9.27
46,SD,7.01,13.19,13.19
47,TN,7.01,9.09,9.09
48,TX,5.61,8.18,8.18
49,UT,6.60,9.61,9.61
50,VT,7.80,13.11,13.11
51,VA,5.94,11.01,11.01
52,WA,8.51,14.00,14.00
53,WV,7.62,9.67,9.67
54,WI,6.26,11.50,11.50
55,WY,7.42,13.06,13.06

In [17]:
campgroundscount=campgrounds.groupby('State').count().reset_index()
campgroundscount=campgroundscount.drop(labels=['Unnamed: 0','Long','Lat','Code','Type','City'],axis=1)
DCc={"State":'DC',
'Campground':0}
campgroundscount=campgroundscount.append(DCc,ignore_index=True)

In [18]:
campgroundscount

   State  Campground
0     AK         100
1     AL         116
2     AR         241
3     AZ         259
4     CA        1301
5     CO         507
6     CT          18
7     DE           7
8     FL         180
9     GA         179
10    HI          36
11    IA         497
12    ID         497
13    IL         163
14    IN         111
15    KS         214
16    KY         136
17    LA          88
18    MA          36
19    MD          46
20    ME          32
21    MI         488
22    MN         392
23    MO         189
24    MS         137
25    MT         481
26    NC         105
27    ND         249
28    NE         263
29    NH          44
30    NJ          26
31    NM         212
32    NV          98
33    NY         149
34    OH         114
35    OK         251
36    OR         720
37    PA         112
38    RI           9
39    SC          71
40    SD         178
41    TN         135
42    TX         486
43    UT         360
44    VA         105
45    VT          43
46    WA         576
47    WI         309
48    WV          91
49    WY         251
50    DC           0

In [19]:
alldata_df=pd.merge(sightingscount,campgroundscount,how='right', on='State')
alldata_df=pd.merge(alldata_df,substance_use,how='left', on='State')
alldata_df=pd.merge(alldata_df,missingpersons,how='left', on='State')
alldata_df=pd.merge(alldata_df,homicide,how='left', on='State')
alldata_df=alldata_df.rename(columns={'title':'count_sightings'})
#alldata_df=alldata_df.astype({'State':'string'})
alldata_df

,State,count_sightings,Campground,Illicit Drug Use (18+),Alcohol Use (18+),Substance Use Disorder (18+),Total Number of Missing Persons,"Missing People per 100,000 Residents",homicide_rate
0,AK,0,100,7.87,11.30,11.30,309,41.8,7.728571
1,AL,2,116,5.63,9.31,9.31,204,4.2,11.085714
2,AR,3,241,7.75,9.12,9.12,200,6.7,8.585714
3,AZ,0,259,7.76,11.85,11.85,915,13.0,6.342857
4,CA,5,1301,6.72,12.79,12.79,2133,5.4,5.171429
5,CO,3,507,9.01,13.32,13.32,292,5.2,4.100000
6,CT,2,18,6.70,12.21,12.21,197,5.5,3.071429
7,DE,0,7,5.79,10.82,10.82,58,6.0,6.785714
8,FL,2,180,7.48,9.55,9.55,1252,6.0,6.400000
9,GA,1,179,5.33,8.03,8.03,250,2.4,7.514286
10,HI,0,36,5.85,10.31,10.31,107,7.5,2.457143
11,IA,0,497,6.67,10.55,10.55,86,2.7,2.600000
12,ID,6,497,6.92,10.87,10.87,101,5.9,2.357143
13,IL,1,163,7.65,11.51,11.51,317,2.5,7.742857
14,IN,2,111,6.73,10.05,10.05,174,2.6,6.714286
15,KS,0,214,7.00,13.48,13.48,81,2.8,4.971429
16,KY,1,136,6.04,8.72,8.72,248,5.6,6.057143
17,LA,0,88,7.18,10.65,10.65,266,5.7,13.371429
18,MA,1,36,7.89,13.02,13.02,126,1.8,2.314286
19,MD,0,46,6.69,12.20,12.20,183,3.0,9.571429
20,ME,3,32,7.40,11.71,11.71,108,8.1,1.028571
21,MI,1,488,7.89,11.30,11.30,556,5.6,6.514286
22,MN,2,392,5.99,13.29,13.29,179,3.2,2.442857
23,MO,5,189,6.79,11.00,11.00,316,5.2,9.685714
24,MS,0,137,7.48,9.58,9.58,115,3.9,12.185714
25,MT,2,481,8.19,12.10,12.10,71,6.8,3.828571
26,NC,4,105,6.60,9.41,9.41,327,3.2,6.714286
27,ND,0,249,6.59,11.73,11.73,31,4.1,1.242857
28,NE,0,263,7.17,11.89,11.89,61,3.2,2.985714
29,NH,0,44,7.39,11.95,11.95,35,2.6,0.657143
30,NJ,1,26,6.33,11.85,11.85,299,3.3,4.257143
31,NM,1,212,7.00,12.51,12.51,143,6.8,9.028571
32,NV,0,98,8.65,10.93,10.93,192,6.4,7.000000
33,NY,3,149,6.37,11.49,11.49,606,3.1,3.500000
34,OH,11,114,5.96,11.33,11.33,358,3.1,6.314286
35,OK,2,251,7.89,10.72,10.72,252,6.4,7.728571
36,OR,3,720,9.17,13.14,13.14,432,10.4,2.942857
37,PA,1,112,6.67,10.36,10.36,401,3.1,6.028571
38,RI,0,9,8.13,12.91,12.91,20,1.9,1.885714
39,SC,1,71,5.94,9.27,9.27,184,3.7,9.214286
40,SD,1,178,7.01,13.19,13.19,23,2.6,3.800000
41,TN,1,135,7.01,9.09,9.09,361,5.4,8.285714
42,TX,6,486,5.61,8.18,8.18,1246,4.4,5.771429
43,UT,0,360,6.60,9.61,9.61,107,3.4,2.328571
44,VA,3,105,5.94,11.01,11.01,239,2.8,5.185714
45,VT,0,43,7.80,13.11,13.11,54,8.7,0.000000
46,WA,13,576,8.51,14.00,14.00,643,8.7,3.357143
47,WI,1,309,6.26,11.50,11.50,149,2.6,4.057143
48,WV,1,91,7.62,9.67,9.67,120,6.6,5.728571
49,WY,0,251,7.42,13.06,13.06,45,7.8,1.842857
50,DC,0,0,9.70,17.83,17.83,35,5.0,23.500000

In [20]:
alldata_df=alldata_df[['State','Campground','Illicit Drug Use (18+)','Alcohol Use (18+)','Substance Use Disorder (18+)','Missing People per 100,000 Residents','homicide_rate','count_sightings']]
alldata_dummies_df=pd.get_dummies(alldata_df)
alldata_df=alldata_dummies_df[['Illicit Drug Use (18+)', 'Alcohol Use (18+)',
       'Substance Use Disorder (18+)', 'Missing People per 100,000 Residents',
       'Campground' ,'State_AK', 'State_AL', 'State_AR',
       'State_AZ', 'State_CA', 'State_CO', 'State_CT', 'State_DC', 'State_DE',
       'State_FL', 'State_GA', 'State_HI', 'State_IA', 'State_ID', 'State_IL',
       'State_IN', 'State_KS', 'State_KY', 'State_LA', 'State_MA', 'State_MD',
       'State_ME', 'State_MI', 'State_MN', 'State_MO', 'State_MS', 'State_MT',
       'State_NC', 'State_ND', 'State_NE', 'State_NH', 'State_NJ', 'State_NM',
       'State_NV', 'State_NY', 'State_OH', 'State_OK', 'State_OR', 'State_PA',
       'State_RI', 'State_SC', 'State_SD', 'State_TN', 'State_TX', 'State_UT',
       'State_VA', 'State_VT', 'State_WA', 'State_WI', 'State_WV', 'State_WY','count_sightings']]
alldata_df.dtypes

Illicit Drug Use (18+)                  float64
Alcohol Use (18+)                       float64
Substance Use Disorder (18+)            float64
Missing People per 100,000 Residents    float64
Campground                                int64
State_AK                                  uint8
State_AL                                  uint8
State_AR                                  uint8
State_AZ                                  uint8
State_CA                                  uint8
State_CO                                  uint8
State_CT                                  uint8
State_DC                                  uint8
State_DE                                  uint8
State_FL                                  uint8
State_GA                                  uint8
State_HI                                  uint8
State_IA                                  uint8
State_ID                                  uint8
State_IL                                  uint8
State_IN                                  uint8
State_KS                                  uint8
State_KY                                  uint8
State_LA                                  uint8
State_MA                                  uint8
State_MD                                  uint8
State_ME                                  uint8
State_MI                                  uint8
State_MN                                  uint8
State_MO                                  uint8
State_MS                                  uint8
State_MT                                  uint8
State_NC                                  uint8
State_ND                                  uint8
State_NE                                  uint8
State_NH                                  uint8
State_NJ                                  uint8
State_NM                                  uint8
State_NV                                  uint8
State_NY                                  uint8
State_OH                                  uint8
State_OK                                  uint8
State_OR                                  uint8
State_PA                                  uint8
State_RI                                  uint8
State_SC                                  uint8
State_SD                                  uint8
State_TN                                  uint8
State_TX                                  uint8
State_UT                                  uint8
State_VA                                  uint8
State_VT                                  uint8
State_WA                                  uint8
State_WI                                  uint8
State_WV                                  uint8
State_WY                                  uint8
count_sightings                           int64
dtype: object

Regression

In [21]:
X=alldata_df.iloc[:, :-1].values
y=alldata_df.iloc[:, -1].values
print("Shape: ", X.shape, y.shape)

Shape:  (51, 56) (51,)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [23]:
model = LinearRegression()

In [24]:
bfmodel=model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 1.0
Testing Score: 0.08572922628741086

In [25]:
bfmodel.coef_

array([-3.18899248e-01, -5.59770575e-02, -5.59770575e-02, -2.61337436e-02,
        2.85402023e-03, -2.71508116e-01, -2.36924203e-01,  1.12645275e+00,
        2.44249065e-15,  1.49622813e-01,  1.20010309e+00,  7.42632776e-01,
        3.66818140e-01, -1.65872067e+00, -2.22044605e-16, -1.70273926e+00,
       -1.74024928e+00, -2.89302821e+00, -4.44089210e-16,  1.11022302e-15,
        1.69167126e-01, -1.64946480e+00, -1.19272160e+00,  2.22044605e-16,
        6.47384990e-02, -1.40692268e+00,  1.93787664e+00, -1.31853150e+00,
       -4.90386424e-01,  3.13999165e+00, -4.44089210e-16, -8.19597986e-02,
        2.08886396e+00, -2.04205003e+00, -1.90265246e+00, -1.21642720e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  1.12019143e+00,
        9.07142078e+00,  3.13844904e-01,  7.58964385e-01, -8.05048201e-01,
       -7.91368713e-01, -1.02717956e+00,  0.00000000e+00, -8.44339038e-01,
        2.57942892e+00,  0.00000000e+00,  1.04706354e+00, -7.93541874e-01,
        0.00000000e+00, -1.38347806e+00, -4.27939727e-01,  0.00000000e+00])

In [26]:
from sklearn.decomposition import PCA

In [27]:
steps = [
    ('scaler', StandardScaler()),
    ('pca', PCA(n_components=0.9)),
    ('lr', LinearRegression())
]

In [28]:
from sklearn.pipeline import Pipeline
pipe = Pipeline(steps)

In [29]:
params = {'lr__normalize': [True, False], 
         }

In [30]:
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(pipe,params)
cv.fit(X_train, y_train)
cv.score(X_test, y_test)

0.02574546261495425