In [1]:
import numpy as np
import pandas as pd

everything_df =pd.read_csv("Resources/bfro_reports_geocoded.csv")
everything_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5021 entries, 0 to 5020
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   observed            4983 non-null   object
 1   location_details    4261 non-null   object
 2   county              5021 non-null   object
 3   state               5021 non-null   object
 4   season              5021 non-null   object
 5   title               4045 non-null   object
 6   latitude            4045 non-null   float64
 7   longitude           4045 non-null   float64
 8   date                4045 non-null   object
 9   number              5021 non-null   float64
 10  classification      5021 non-null   object
 11  geohash             4045 non-null   object
 12  temperature_high    3338 non-null   float64
 13  temperature_mid     3186 non-null   float64
 14  temperature_low     3189 non-null   float64
 15  dew_point           3373 non-null   float64
 16  humidity            3373 non-null   float64
 17  cloud_cover         3084 non-null   float64
 18  moon_phase          3396 non-null   float64
 19  precip_intensity    2712 non-null   float64
 20  precip_probability  2710 non-null   float64
 21  precip_type         1723 non-null   object
 22  pressure            2619 non-null   float64
 23  summary             3366 non-null   object
 24  uv_index            3392 non-null   float64
 25  visibility          3049 non-null   float64
 26  wind_bearing        3387 non-null   float64
 27  wind_speed          3389 non-null   float64
dtypes: float64(17), object(11)
memory usage: 1.1+ MB

In [2]:
high_temp = everything_df["temperature_high"].max()
high_temp

106.51

In [3]:
low_temp = everything_df["temperature_low"].min()
low_temp

-22.78

In [4]:
av_temp = everything_df["temperature_mid"].mean()
av_temp

57.843377275580465

In [5]:
high_humidity = everything_df["humidity"].max()
high_humidity

1.0

In [6]:
low_humidity = everything_df["humidity"].min()
low_humidity

0.08

In [7]:
av_humidity = everything_df["humidity"].mean()
av_humidity

0.7056715090423937

In [8]:
cloud_cover_av = everything_df["cloud_cover"].mean()
cloud_cover_av

0.43898184176394067

In [9]:
precipitation_intensity_av = everything_df["precip_intensity"].mean()
precipitation_intensity_av

0.005708259587020648

In [10]:
wind_speed_max = everything_df["wind_speed"].max()
wind_speed_max

23.94

In [11]:
wind_speed_av = everything_df["wind_speed"].mean()
wind_speed_av

3.8660814399527808

In [12]:
best_conditions = {"High Temp": high_temp,
                   "Low Temp": low_temp,
                   "Av Temp": av_temp,
                   "High Humidity": high_humidity,
                   "Low Humidity": low_humidity, 
                   "Av Humidity": av_humidity, 
                   "Av Cloud Cover": cloud_cover_av,
                   "Av Precip Intesity": precipitation_intensity_av,
                   "Max Wind Speed": wind_speed_max,
                   "Wind Speed Av": wind_speed_av
                  }

In [13]:
best_conditions

{'High Temp': 106.51,
 'Low Temp': -22.78,
 'Av Temp': 57.843377275580465,
 'High Humidity': 1.0,
 'Low Humidity': 0.08,
 'Av Humidity': 0.7056715090423937,
 'Av Cloud Cover': 0.43898184176394067,
 'Av Precip Intesity': 0.005708259587020648,
 'Max Wind Speed': 23.94,
 'Wind Speed Av': 3.8660814399527808}

In [28]:
seasons = pd.read_csv("Cleaned CSVs/bfro_reports_seasons.csv")
seasons

        state  season
0     Alabama  Summer
1     Alabama  Winter
2     Alabama  Winter
3     Alabama  Winter
4     Alabama  Summer
...       ...     ...
5017  Wyoming    Fall
5018  Wyoming  Summer
5019  Wyoming  Summer
5020  Wyoming  Winter
5021      NaN     NaN

[5022 rows x 2 columns]

In [37]:
seasons_fl = seasons.loc[seasons['state'].isin(["Florida"])]

In [38]:
seasons_fl_count= seasons_fl['season'].value_counts()
seasons_count

Summer     1867
Fall       1492
Spring      825
Winter      745
Unknown      92
Name: season, dtype: int64

In [40]:
seasons_il = seasons.loc[seasons['state'].isin(["Illinois"])]
seasons_il_count= seasons_il['season'].value_counts()
seasons_il_count

Fall       86
Summer     70
Winter     42
Spring     37
Unknown     2
Name: season, dtype: int64

In [42]:
seasons_mi = seasons.loc[seasons['state'].isin(["Michigan"])]
seasons_mi_count= seasons_mi['season'].value_counts()
seasons_mi_count

Summer     81
Fall       76
Spring     33
Winter     23
Unknown     3
Name: season, dtype: int64

In [43]:
seasons_mo = seasons.loc[seasons['state'].isin(["Missouri"])]
seasons_mo_count= seasons_mo['season'].value_counts()
seasons_mo_count

Summer     53
Fall       50
Spring     34
Winter     19
Unknown     2
Name: season, dtype: int64

In [44]:
seasons_oh = seasons.loc[seasons['state'].isin(["Ohio"])]
seasons_oh_count= seasons_oh['season'].value_counts()
seasons_oh_count

Summer     117
Fall        75
Spring      55
Winter      50
Unknown      6
Name: season, dtype: int64

In [46]:
seasons_tx = seasons.loc[seasons['state'].isin(["Texas"])]
seasons_tx_count= seasons_tx['season'].value_counts()
seasons_tx_count

Summer     74
Fall       70
Winter     39
Spring     39
Unknown     8
Name: season, dtype: int64

In [47]:
seasons_wa = seasons.loc[seasons['state'].isin(["Washington"])]
seasons_wa_count= seasons_wa['season'].value_counts()
seasons_wa_count

Summer     236
Fall       167
Spring     118
Winter      70
Unknown     10
Name: season, dtype: int64