In [1]:
import pandas as pd

#import Nation Survey on Drug Use and Health, Q1-4 2020 illicit drug use, add idu column
illicit_df = pd.read_csv('Resources/Illicit.csv')
illicit_df.head()

,Order,State,12+ Estimate,12+ 95% CI (Lower),12+ 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26+ Estimate,26+ 95% CI (Lower),26+ 95% CI (Upper),18+ Estimate,18+ 95% CI (Lower),18+ 95% CI (Upper)
0,1,Total U.S.,6.64%,6.24%,7.07%,4.85%,4.10%,5.74%,14.56%,13.38%,15.83%,5.63%,5.18%,6.12%,6.82%,6.38%,7.29%
1,2,Northeast,6.61%,5.92%,7.37%,5.05%,4.03%,6.31%,13.66%,11.59%,16.04%,5.72%,4.94%,6.60%,6.75%,6.01%,7.57%
2,3,Midwest,6.73%,6.16%,7.35%,5.36%,4.39%,6.54%,14.94%,13.06%,17.04%,5.60%,4.94%,6.34%,6.87%,6.25%,7.54%
3,4,South,6.28%,5.76%,6.85%,4.53%,3.64%,5.63%,14.21%,12.32%,16.34%,5.28%,4.68%,5.95%,6.46%,5.90%,7.07%
4,5,West,7.17%,6.39%,8.03%,4.81%,3.73%,6.17%,15.42%,13.13%,18.04%,6.17%,5.29%,7.18%,7.41%,6.57%,8.34%

In [2]:
illicit_df["type"]="IDU"

In [3]:
illicit_df.head()

,Order,State,12+ Estimate,12+ 95% CI (Lower),12+ 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26+ Estimate,26+ 95% CI (Lower),26+ 95% CI (Upper),18+ Estimate,18+ 95% CI (Lower),18+ 95% CI (Upper),type
0,1,Total U.S.,6.64%,6.24%,7.07%,4.85%,4.10%,5.74%,14.56%,13.38%,15.83%,5.63%,5.18%,6.12%,6.82%,6.38%,7.29%,IDU
1,2,Northeast,6.61%,5.92%,7.37%,5.05%,4.03%,6.31%,13.66%,11.59%,16.04%,5.72%,4.94%,6.60%,6.75%,6.01%,7.57%,IDU
2,3,Midwest,6.73%,6.16%,7.35%,5.36%,4.39%,6.54%,14.94%,13.06%,17.04%,5.60%,4.94%,6.34%,6.87%,6.25%,7.54%,IDU
3,4,South,6.28%,5.76%,6.85%,4.53%,3.64%,5.63%,14.21%,12.32%,16.34%,5.28%,4.68%,5.95%,6.46%,5.90%,7.07%,IDU
4,5,West,7.17%,6.39%,8.03%,4.81%,3.73%,6.17%,15.42%,13.13%,18.04%,6.17%,5.29%,7.18%,7.41%,6.57%,8.34%,IDU

In [4]:
#make new dataframe with State, 18+ Usage estimate, and type of substance
illicit_df2 = illicit_df[['State','18+ Estimate']]
illicit_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         56 non-null     object
 1   18+ Estimate  56 non-null     object
dtypes: object(2)
memory usage: 1.0+ KB

In [5]:
illicit_prepped = illicit_df2.rename(columns={"18+ Estimate":"Illicit Drug Use (18+)"})
illicit_prepped.head()

        State Illicit Drug Use (18+)
0  Total U.S.                  6.82%
1   Northeast                  6.75%
2     Midwest                  6.87%
3       South                  6.46%
4        West                  7.41%

In [6]:
#repeat above process with alcohol dataset
alcohol_df =pd.read_csv('Resources/Alcohol.csv')
alcohol_df.head()

,Order,State,12+ Estimate,12+ 95% CI (Lower),12+ 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26+ Estimate,26+ 95% CI (Lower),26+ 95% CI (Upper),18+ Estimate,18+ 95% CI (Lower),18+ 95% CI (Upper)
0,1,Total U.S.,10.23%,9.68%,10.81%,2.85%,2.25%,3.61%,15.57%,14.21%,17.03%,10.25%,9.60%,10.95%,10.96%,10.35%,11.60%
1,2,Northeast,10.90%,9.83%,12.06%,3.13%,2.36%,4.15%,17.54%,15.07%,20.32%,10.70%,9.41%,12.15%,11.59%,10.44%,12.85%
2,3,Midwest,10.69%,9.85%,11.60%,2.91%,2.22%,3.81%,16.26%,14.21%,18.54%,10.73%,9.66%,11.90%,11.48%,10.55%,12.47%
3,4,South,8.74%,8.06%,9.47%,2.42%,1.83%,3.19%,14.69%,12.67%,16.97%,8.57%,7.71%,9.53%,9.38%,8.64%,10.18%
4,5,West,11.72%,10.62%,12.91%,3.30%,2.29%,4.73%,14.95%,12.70%,17.52%,12.20%,10.83%,13.72%,12.57%,11.36%,13.88%

In [7]:
alcohol_df["type"]= "alcohol"

In [8]:
alcohol_df2 = alcohol_df[['State','18+ Estimate' ]]
alcohol_df2.head()

        State 18+ Estimate
0  Total U.S.       10.96%
1   Northeast       11.59%
2     Midwest       11.48%
3       South        9.38%
4        West       12.57%

In [9]:
alcohol_prepped = alcohol_df2.rename(columns={"18+ Estimate": "Alcohol Use (18+)"})
alcohol_prepped.head()

        State Alcohol Use (18+)
0  Total U.S.            10.96%
1   Northeast            11.59%
2     Midwest            11.48%
3       South             9.38%
4        West            12.57%

In [10]:
#repeat with substance use disorder dataset
substance_df =pd.read_csv('Resources/Alcohol.csv')
substance_df.head()

,Order,State,12+ Estimate,12+ 95% CI (Lower),12+ 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26+ Estimate,26+ 95% CI (Lower),26+ 95% CI (Upper),18+ Estimate,18+ 95% CI (Lower),18+ 95% CI (Upper)
0,1,Total U.S.,10.23%,9.68%,10.81%,2.85%,2.25%,3.61%,15.57%,14.21%,17.03%,10.25%,9.60%,10.95%,10.96%,10.35%,11.60%
1,2,Northeast,10.90%,9.83%,12.06%,3.13%,2.36%,4.15%,17.54%,15.07%,20.32%,10.70%,9.41%,12.15%,11.59%,10.44%,12.85%
2,3,Midwest,10.69%,9.85%,11.60%,2.91%,2.22%,3.81%,16.26%,14.21%,18.54%,10.73%,9.66%,11.90%,11.48%,10.55%,12.47%
3,4,South,8.74%,8.06%,9.47%,2.42%,1.83%,3.19%,14.69%,12.67%,16.97%,8.57%,7.71%,9.53%,9.38%,8.64%,10.18%
4,5,West,11.72%,10.62%,12.91%,3.30%,2.29%,4.73%,14.95%,12.70%,17.52%,12.20%,10.83%,13.72%,12.57%,11.36%,13.88%

In [11]:
substance_df["type"]= "sud"

In [12]:
substance_df2 = substance_df[['State', '18+ Estimate']]
substance_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         56 non-null     object
 1   18+ Estimate  56 non-null     object
dtypes: object(2)
memory usage: 1.0+ KB

In [13]:
substance_prepped = substance_df2.rename(columns={"18+ Estimate": "Substance Use Disorder (18+)"})
substance_prepped.head()

        State Substance Use Disorder (18+)
0  Total U.S.                       10.96%
1   Northeast                       11.59%
2     Midwest                       11.48%
3       South                        9.38%
4        West                       12.57%

In [19]:
nsduh1_df = pd.merge(illicit_prepped, alcohol_prepped, on = "State", how= 'left')

In [22]:
nsduh_final = pd.merge(nsduh1_df, substance_prepped, on ="State", how='left' )

In [24]:
nsduh_final.to_csv('Resources/NSDUH Substance Use Data.csv')
nsduh_final.to_csv('NSDUH Substance Use Data.csv')